HeilsCare/XYS.Remp.Screening/Service References/UserService/UserService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/User.Model.OrganizationManage" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/User.Model.OrganizationManage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="M_ManageTree">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="Level" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentID" type="xs:int" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="M_ManageTree" nillable="true" type="tns:M_ManageTree" />
  <xs:complexType name="ArrayOfM_ManageTree">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="M_ManageTree" nillable="true" type="tns:M_ManageTree" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfM_ManageTree" nillable="true" type="tns:ArrayOfM_ManageTree" />
  <xs:complexType name="ArrayOfM_XysDoctorOrg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="M_XysDoctorOrg" nillable="true" type="tns:M_XysDoctorOrg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfM_XysDoctorOrg" nillable="true" type="tns:ArrayOfM_XysDoctorOrg" />
  <xs:complexType name="M_XysDoctorOrg">
    <xs:sequence>
      <xs:element minOccurs="0" name="DrID" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="IsDelete" type="xs:byte" />
      <xs:element minOccurs="0" name="OrgID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="M_XysDoctorOrg" nillable="true" type="tns:M_XysDoctorOrg" />
  <xs:complexType name="ArrayOfM_OrgIdAndDrId">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="M_OrgIdAndDrId" nillable="true" type="tns:M_OrgIdAndDrId" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfM_OrgIdAndDrId" nillable="true" type="tns:ArrayOfM_OrgIdAndDrId" />
  <xs:complexType name="M_OrgIdAndDrId">
    <xs:sequence>
      <xs:element minOccurs="0" name="DrID" type="xs:int" />
      <xs:element minOccurs="0" name="OrgID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="M_OrgIdAndDrId" nillable="true" type="tns:M_OrgIdAndDrId" />
  <xs:complexType name="ArrayOfM_XysOrganization">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="M_XysOrganization" nillable="true" type="tns:M_XysOrganization" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfM_XysOrganization" nillable="true" type="tns:ArrayOfM_XysOrganization" />
  <xs:complexType name="M_XysOrganization">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AreaID" type="xs:int" />
      <xs:element minOccurs="0" name="DrID" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsEnable" type="xs:byte" />
      <xs:element minOccurs="0" name="ManageID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TreeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="M_XysOrganization" nillable="true" type="tns:M_XysOrganization" />
</xs:schema>