HeilsCare/XYS.Remp.Screening/Service References/UserService/UserService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/User.Model.Doctorinfo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/User.Model.Doctorinfo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="M_Doctorinfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brief" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DrAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DrID" type="xs:int" />
      <xs:element minOccurs="0" name="DrName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DrSex" type="xs:byte" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Invalid" type="xs:byte" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      <xs:element minOccurs="0" name="OrgName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" type="xs:byte" />
      <xs:element minOccurs="0" name="UpdateTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="M_Doctorinfo" nillable="true" type="tns:M_Doctorinfo" />
  <xs:complexType name="ArrayOfM_Doctorinfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="M_Doctorinfo" nillable="true" type="tns:M_Doctorinfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfM_Doctorinfo" nillable="true" type="tns:ArrayOfM_Doctorinfo" />
</xs:schema>