HeilsCare/XYS.Remp.Screening/Service References/UserService/UserService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/User.Model.Api" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/User.Model.Api" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="M_RegisterSmsLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InsertTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgId" type="xs:int" />
      <xs:element minOccurs="0" name="SmsId" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
      <xs:element minOccurs="0" name="Verification" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="M_RegisterSmsLog" nillable="true" type="tns:M_RegisterSmsLog" />
</xs:schema>