HeilsCare/XYS.Remp.Screening/Service References/UserService/UserService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/User.Model.Departmentinfo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/User.Model.Departmentinfo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="M_ExpertToDepartment">
    <xs:sequence>
      <xs:element minOccurs="0" name="DRELogID" type="xs:int" />
      <xs:element minOccurs="0" name="DepartID" type="xs:int" />
      <xs:element minOccurs="0" name="ExpertID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="M_ExpertToDepartment" nillable="true" type="tns:M_ExpertToDepartment" />
</xs:schema>