HeilsCare/XYS.Remp.Screening/Service References/UserService/UserService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/User.Model.OrganizationInfo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/User.Model.OrganizationInfo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfM_OrganizationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="M_OrganizationInfo" nillable="true" type="tns:M_OrganizationInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfM_OrganizationInfo" nillable="true" type="tns:ArrayOfM_OrganizationInfo" />
  <xs:complexType name="M_OrganizationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      <xs:element minOccurs="0" name="OrgName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgType" type="xs:int" />
      <xs:element minOccurs="0" name="ParentOrgID" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="M_OrganizationInfo" nillable="true" type="tns:M_OrganizationInfo" />
</xs:schema>