HeilsCare/XYS.Remp.Screening/Service References/UserService/UserService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.18.100.23:9600/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/User.Common.Page" />
  <xs:import schemaLocation="http://172.18.100.23:9600/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/User.Model.DemoAccount" />
  <xs:import schemaLocation="http://172.18.100.23:9600/UserService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/User.Model.Departmentinfo" />
  <xs:import schemaLocation="http://172.18.100.23:9600/UserService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/User.Model.Doctorinfo" />
  <xs:import schemaLocation="http://172.18.100.23:9600/UserService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/User.Model.OrganizationManage" />
  <xs:import schemaLocation="http://172.18.100.23:9600/UserService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://172.18.100.23:9600/UserService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/User.Model.Patient" />
  <xs:import schemaLocation="http://172.18.100.23:9600/UserService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/User.Model.Api" />
  <xs:import schemaLocation="http://172.18.100.23:9600/UserService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/User.Model.Patient.Query" />
  <xs:import schemaLocation="http://172.18.100.23:9600/UserService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/User.Model.MemberFeatures" />
  <xs:import schemaLocation="http://172.18.100.23:9600/UserService.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/User.Model.OrganizationInfo" />
  <xs:import schemaLocation="http://172.18.100.23:9600/UserService.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/User.Model.Specialist" />
  <xs:element name="GetDemoAccountList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDemoAccountListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/User.Common.Page" minOccurs="0" name="GetDemoAccountListResult" nillable="true" type="q1:PageOf_x003C_M_DemoAccount_x003E_" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDemoAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDemoAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/User.Model.DemoAccount" minOccurs="0" name="GetDemoAccountResult" nillable="true" type="q2:M_DemoAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDemoAccountByPatientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDemoAccountByPatientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/User.Model.DemoAccount" minOccurs="0" name="GetDemoAccountByPatientIdResult" nillable="true" type="q3:M_DemoAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDemoAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/User.Model.DemoAccount" minOccurs="0" name="demoAccount" nillable="true" type="q4:M_DemoAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDemoAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDemoAccountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RmoveDemoAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RmoveDemoAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RmoveDemoAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientDemoAccountList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="demoAccountId" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientDemoAccountListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/User.Common.Page" minOccurs="0" name="GetPatientDemoAccountListResult" nillable="true" type="q5:PageOf_x003C_M_PatientDemoAccountExt_x003E_" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDemoAccountRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/User.Model.DemoAccount" minOccurs="0" name="relation" nillable="true" type="q6:M_PatientDemoAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDemoAccountRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDemoAccountRelationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDemoAccountRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDemoAccountRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveDemoAccountRelationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelDepartRelateByExpertID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="expertID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelDepartRelateByExpertIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelDepartRelateByExpertIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExpertToDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/User.Model.Departmentinfo" minOccurs="0" name="expertToDepartment" nillable="true" type="q7:M_ExpertToDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExpertToDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddExpertToDepartmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorinfoByDrID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorinfoByDrIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/User.Model.Doctorinfo" minOccurs="0" name="GetDoctorinfoByDrIDResult" nillable="true" type="q8:M_Doctorinfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDoctorinfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/User.Model.Doctorinfo" minOccurs="0" name="doctorinfo" nillable="true" type="q9:M_Doctorinfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDoctorinfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDoctorinfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSingleDoctorinfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="drId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSingleDoctorinfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSingleDoctorinfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorinfoByDrIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drIds" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorinfoByDrIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/User.Model.Doctorinfo" minOccurs="0" name="GetDoctorinfoByDrIDsResult" nillable="true" type="q10:ArrayOfM_Doctorinfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorListByCondition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="drAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorListByConditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/User.Common.Page" minOccurs="0" name="GetDoctorListByConditionResult" nillable="true" type="q11:PageOf_x003C_M_Doctorinfo_x003E_" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IManageTreeService_Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="flag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IManageTreeService_GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/User.Model.OrganizationManage" minOccurs="0" name="IManageTreeService_GetResult" nillable="true" type="q12:M_ManageTree" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildNodesById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="flag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildNodesByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/User.Model.OrganizationManage" minOccurs="0" name="GetChildNodesByIdResult" nillable="true" type="q13:ArrayOfM_ManageTree" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IManageTreeService_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/User.Model.OrganizationManage" minOccurs="0" name="manageTree" nillable="true" type="q14:M_ManageTree" />
        <xs:element minOccurs="0" name="flag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IManageTreeService_AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IManageTreeService_AddResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IManageTreeService_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/User.Model.OrganizationManage" minOccurs="0" name="manageTree" nillable="true" type="q15:M_ManageTree" />
        <xs:element minOccurs="0" name="flag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IManageTreeService_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IManageTreeService_UpdateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IManageTreeService_Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="flag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IManageTreeService_RemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IManageTreeService_RemoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveOrgToOrg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="newParentId" type="xs:int" />
        <xs:element minOccurs="0" name="flag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveOrgToOrgResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXysDoctorOrgListByDoctorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doctorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXysDoctorOrgListByDoctorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/User.Model.OrganizationManage" minOccurs="0" name="GetXysDoctorOrgListByDoctorIdResult" nillable="true" type="q16:ArrayOfM_XysDoctorOrg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrgIdsAndDrIdsByDrIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="drIds" nillable="true" type="q17:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrgIdsAndDrIdsByDrIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/User.Model.OrganizationManage" minOccurs="0" name="GetOrgIdsAndDrIdsByDrIdsResult" nillable="true" type="q18:ArrayOfM_OrgIdAndDrId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddXysDoctorOrgByList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/User.Model.OrganizationManage" minOccurs="0" name="list" nillable="true" type="q19:ArrayOfM_XysDoctorOrg" />
        <xs:element minOccurs="0" name="flag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddXysDoctorOrgByListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddXysDoctorOrgByListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteXysDoctorOrgByDrId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drId" type="xs:int" />
        <xs:element minOccurs="0" name="flag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteXysDoctorOrgByDrIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteXysDoctorOrgByDrIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDateXysDoctorOrgIsDeleteByDrId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="drIds" nillable="true" type="q20:ArrayOfint" />
        <xs:element minOccurs="0" name="flag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDateXysDoctorOrgIsDeleteByDrIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpDateXysDoctorOrgIsDeleteByDrIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteXysDoctorOrgByIsDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteXysDoctorOrgByIsDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteXysDoctorOrgByIsDeleteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshXysDoctorOrg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/User.Model.OrganizationManage" minOccurs="0" name="list" nillable="true" type="q21:ArrayOfM_XysDoctorOrg" />
        <xs:element minOccurs="0" name="flag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshXysDoctorOrgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RefreshXysDoctorOrgResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListByOrgId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="manageId" type="xs:int" />
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="includeChild" type="xs:boolean" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="flag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListByOrgIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/User.Common.Page" minOccurs="0" name="GetListByOrgIdResult" nillable="true" type="q22:PageOf_x003C_M_XysOrganization_x003E_" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorTreeRelationIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="manageId" type="xs:int" />
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="includeChild" type="xs:boolean" />
        <xs:element minOccurs="0" name="flag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorTreeRelationIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDoctorTreeRelationIdsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IXysOrganizationService_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/User.Model.OrganizationManage" minOccurs="0" name="orgInfo" nillable="true" type="q23:M_XysOrganization" />
        <xs:element minOccurs="0" name="flag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IXysOrganizationService_AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IXysOrganizationService_AddResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IXysOrganizationService_Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="manageId" type="xs:int" />
        <xs:element minOccurs="0" name="drId" type="xs:int" />
        <xs:element minOccurs="0" name="flag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IXysOrganizationService_RemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IXysOrganizationService_RemoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMXysOrganizationByDrId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drId" type="xs:int" />
        <xs:element minOccurs="0" name="manageId" type="xs:int" />
        <xs:element minOccurs="0" name="flag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMXysOrganizationByDrIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/User.Model.OrganizationManage" minOccurs="0" name="GetMXysOrganizationByDrIdResult" nillable="true" type="q24:M_XysOrganization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrIdByTreeLeaf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrIdByTreeLeafResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDrIdByTreeLeafResult" nillable="true" type="q25:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrIdByTree">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrIdByTreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDrIdByTreeResult" nillable="true" type="q26:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveMemberToOrg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="newOrgId" type="xs:int" />
        <xs:element minOccurs="0" name="flag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveMemberToOrgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoveMemberToOrgResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXysOrganizationById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="flag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXysOrganizationByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/User.Model.OrganizationManage" minOccurs="0" name="GetXysOrganizationByIdResult" nillable="true" type="q27:M_XysOrganization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePatientInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePatientInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/User.Model.Patient" minOccurs="0" name="CreatePatientInfoResult" nillable="true" type="q28:M_PatientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatientInfoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/User.Model.Patient" minOccurs="0" name="patientInfo" nillable="true" type="q29:M_PatientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatientInfoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePatientInfoByIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPatientAccountExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPatientAccountExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckPatientAccountExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResisterSmsLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/User.Model.Api" minOccurs="0" name="entity" nillable="true" type="q30:M_RegisterSmsLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResisterSmsLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResisterSmsLogResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVerificaton">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVerificatonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/User.Model.Api" minOccurs="0" name="GetVerificatonResult" nillable="true" type="q31:M_RegisterSmsLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMobileExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMobileExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckMobileExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientInfoByMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientInfoByMobileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/User.Model.Patient" minOccurs="0" name="GetPatientInfoByMobileResult" nillable="true" type="q32:ArrayOfM_PatientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVerificationDisable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="smsId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVerificationDisableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetVerificationDisableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientInfoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PatientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientInfoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/User.Model.Patient" minOccurs="0" name="GetPatientInfoByIdResult" nillable="true" type="q33:M_PatientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientAccountByPatientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientAccountByPatientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/User.Model.Patient" minOccurs="0" name="GetPatientAccountByPatientIdResult" nillable="true" type="q34:ArrayOfM_PatientAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientByOrgIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/User.Model.Patient.Query" minOccurs="0" name="model" nillable="true" type="q35:M_PatientGetListByOrgIdsQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientByOrgIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/User.Common.Page" minOccurs="0" name="GetPatientByOrgIdsResult" nillable="true" type="q36:PageOf_x003C_M_PatientInfo_x003E_" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPatientInfoBySpecialist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/User.Model.Patient" minOccurs="0" name="model" nillable="true" type="q37:M_PatientInfo" />
        <xs:element minOccurs="0" name="orgId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPatientInfoBySpecialistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPatientInfoBySpecialistResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeaturesRecordsByPatientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeaturesRecordsByPatientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/User.Model.MemberFeatures" minOccurs="0" name="GetFeaturesRecordsByPatientIdResult" nillable="true" type="q38:ArrayOfM_MemberFeaturesRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFeaturesRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/User.Model.MemberFeatures" minOccurs="0" name="list" nillable="true" type="q39:ArrayOfM_MemberFeaturesRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFeaturesRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertFeaturesRecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFeaturesRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFeaturesRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelFeaturesRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFeaturesLogBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/User.Model.MemberFeatures" minOccurs="0" name="list" nillable="true" type="q40:ArrayOfM_Memberfeaturesrecordlog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFeaturesLogBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertFeaturesLogBatchResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFeaturesLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/User.Model.MemberFeatures" minOccurs="0" name="model" nillable="true" type="q41:M_Memberfeaturesrecordlog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFeaturesLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertFeaturesLogResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeaturesTypeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeaturesTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/User.Model.MemberFeatures" minOccurs="0" name="GetFeaturesTypeListResult" nillable="true" type="q42:ArrayOfM_MemberFeaturesType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeaturesItemByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeaturesItemByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/User.Model.MemberFeatures" minOccurs="0" name="GetFeaturesItemByTypeResult" nillable="true" type="q43:ArrayOfM_MemberFeaturesItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatientInfoBySpecialist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/User.Model.Patient" minOccurs="0" name="model" nillable="true" type="q44:M_PatientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatientInfoBySpecialistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePatientInfoBySpecialistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientByMobileAndName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientByMobileAndNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/User.Model.Patient" minOccurs="0" name="GetPatientByMobileAndNameResult" nillable="true" type="q45:ArrayOfM_PatientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeaturesItemByIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q46:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeaturesItemByIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/User.Model.MemberFeatures" minOccurs="0" name="GetFeaturesItemByIdsResult" nillable="true" type="q47:ArrayOfM_MemberFeaturesItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientInfoByIdForSpecialist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientInfoByIdForSpecialistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/User.Model.Patient" minOccurs="0" name="GetPatientInfoByIdForSpecialistResult" nillable="true" type="q48:M_PatientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrgInfoByIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q49:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrgInfoByIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/User.Model.OrganizationInfo" minOccurs="0" name="GetOrgInfoByIdsResult" nillable="true" type="q50:ArrayOfM_OrganizationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeaturesRecordByPatientIdAndItemId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" type="xs:int" />
        <xs:element minOccurs="0" name="itemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeaturesRecordByPatientIdAndItemIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/User.Model.MemberFeatures" minOccurs="0" name="GetFeaturesRecordByPatientIdAndItemIdResult" nillable="true" type="q51:M_MemberFeaturesRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeaturesRecordsByPatientIdAndItemIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" type="xs:int" />
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemIds" nillable="true" type="q52:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeaturesRecordsByPatientIdAndItemIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/User.Model.MemberFeatures" minOccurs="0" name="GetFeaturesRecordsByPatientIdAndItemIdsResult" nillable="true" type="q53:ArrayOfM_MemberFeaturesRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFeaturesRecordByPatientIdAndItemIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" type="xs:int" />
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemIds" nillable="true" type="q54:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFeaturesRecordByPatientIdAndItemIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelFeaturesRecordByPatientIdAndItemIdsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatientAccountByPatientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" type="xs:int" />
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatientAccountByPatientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePatientAccountByPatientIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatientById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/User.Model.Patient" minOccurs="0" name="patientInfo" nillable="true" type="q55:M_PatientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatientByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePatientByIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePatientRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/User.Model.Patient" minOccurs="0" name="patientRelationInfo" nillable="true" type="q56:M_PatientRelationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePatientRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreatePatientRelationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatientRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/User.Model.Patient" minOccurs="0" name="patientRelationInfo" nillable="true" type="q57:M_PatientRelationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatientRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePatientRelationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePatientRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="relationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePatientRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePatientRelationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPatientRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientID" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPatientRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/User.Model.Patient" minOccurs="0" name="GetAllPatientRelationResult" nillable="true" type="q58:ArrayOfM_PatientRelationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientRelationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="relationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientRelationInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/User.Model.Patient" minOccurs="0" name="GetPatientRelationInfoResult" nillable="true" type="q59:M_PatientRelationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatientRelationEducation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="relationtId" type="xs:int" />
        <xs:element minOccurs="0" name="education" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatientRelationEducationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePatientRelationEducationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientRelationCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientRelationCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPatientRelationCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSupplementPatientInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/User.Model.Patient" minOccurs="0" name="supplentmentPatientInfo" nillable="true" type="q60:M_SupplementPatientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSupplementPatientInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSupplementPatientInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplementPatientInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/User.Model.Patient" minOccurs="0" name="supplentmentPatientInfo" nillable="true" type="q61:M_SupplementPatientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplementPatientInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSupplementPatientInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplementPatientInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sInfoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplementPatientInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/User.Model.Patient" minOccurs="0" name="GetSupplementPatientInfoResult" nillable="true" type="q62:M_SupplementPatientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplementPatientInfoByRelationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="relationtID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplementPatientInfoByRelationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/User.Model.Patient" minOccurs="0" name="GetSupplementPatientInfoByRelationIDResult" nillable="true" type="q63:M_SupplementPatientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPatientRelNameIsExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" type="xs:int" />
        <xs:element minOccurs="0" name="patientRelName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPatientRelNameIsExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckPatientRelNameIsExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatientEducationById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="education" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatientEducationByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePatientEducationByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupplementPatientInfoBySInfoId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sInfoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupplementPatientInfoBySInfoIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSupplementPatientInfoBySInfoIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientAndRelationInfoByMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientAndRelationInfoByMobileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/User.Model.Patient" minOccurs="0" name="GetPatientAndRelationInfoByMobileResult" nillable="true" type="q64:ArrayOfM_PatientExtendInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNetdiagnosephrase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/User.Model.Specialist" minOccurs="0" name="netdiagnosephrase" nillable="true" type="q65:M_Netdiagnosephrase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNetdiagnosephraseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNetdiagnosephraseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNetdiagnosephraseById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phraseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNetdiagnosephraseByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNetdiagnosephraseByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogicDeleteNetdiagnosephrase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/User.Model.Specialist" minOccurs="0" name="netdiagnosephrase" nillable="true" type="q66:M_Netdiagnosephrase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogicDeleteNetdiagnosephraseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogicDeleteNetdiagnosephraseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNetdiagnosephrase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/User.Model.Specialist" minOccurs="0" name="netdiagnosephrase" nillable="true" type="q67:M_Netdiagnosephrase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNetdiagnosephraseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateNetdiagnosephraseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNetdiagnosephraseByDrId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNetdiagnosephraseByDrIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/User.Model.Specialist" minOccurs="0" name="GetNetdiagnosephraseByDrIdResult" nillable="true" type="q68:ArrayOfM_Netdiagnosephrase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNetdiagnosephraseByContentAndCreateTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/User.Model.Specialist" minOccurs="0" name="netdiagnosephrase" nillable="true" type="q69:M_Netdiagnosephrase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNetdiagnosephraseByContentAndCreateTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/User.Model.Specialist" minOccurs="0" name="GetNetdiagnosephraseByContentAndCreateTimeResult" nillable="true" type="q70:ArrayOfM_Netdiagnosephrase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNetdiagnosephraseById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phraseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNetdiagnosephraseByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/User.Model.Specialist" minOccurs="0" name="GetNetdiagnosephraseByIdResult" nillable="true" type="q71:M_Netdiagnosephrase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNetdiagnosephraseList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drId" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="keyWord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNetdiagnosephraseListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/User.Common.Page" minOccurs="0" name="GetNetdiagnosephraseListResult" nillable="true" type="q72:PageOf_x003C_M_Netdiagnosephrase_x003E_" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsByCategoryId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsByCategoryIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/User.Model.Specialist" minOccurs="0" name="GetItemsByCategoryIdResult" nillable="true" type="q73:ArrayOfM_CategoryItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemNamesByItemValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemValue" type="xs:int" />
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemNamesByItemValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/User.Model.Specialist" minOccurs="0" name="GetItemNamesByItemValueResult" nillable="true" type="q74:M_CategoryItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepartmentInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepartmentInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/User.Model.Specialist" minOccurs="0" name="GetAllDepartmentInfoResult" nillable="true" type="q75:ArrayOfM_DepartmentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpertToDepartmentByExpertId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="expertId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpertToDepartmentByExpertIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/User.Model.Specialist" minOccurs="0" name="GetExpertToDepartmentByExpertIdResult" nillable="true" type="q76:M_DepartmentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpertPartInfoByDrId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpertPartInfoByDrIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/User.Model.Specialist" minOccurs="0" name="GetExpertPartInfoByDrIdResult" nillable="true" type="q77:M_Expertinfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSingleExpert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="drId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSingleExpertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSingleExpertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>